body{
  background-color: #bbfadc;
  font-family:Noto Sans JP;
}

.header{
}

.header h2{
  padding-left:10px;
  font-size:1vw;
  color:#053480;
}

a {
    text-decoration: none !important;
}

.main{
  margin-top:20px;
}

.content{
  background-color:#e8fff4;
  width:35%;
  padding:5px;
  margin-left:5%;
  text-align:center;
}

.content h1{
  font-size:1.8vw;
}

.download button{
  background-color:#4281f5;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9vw;
  margin: 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.download button:hover{
  background-color:white;
  color:#4281f5;
}
