body{
  background-color: #bbfadc;
  font-family:Noto Sans JP;
}

.header{
}

.header h2{
  padding-left:10px;
  font-size:1vw;
  color:#053480;
}

a{
  text-decoration: none !important;
  color: inherit;
}

.main{
  margin-top:20px;
  float:left;
}

.content{
  background-color:#e8fff4;
  width:45%;
  padding:5px;
  margin-left:5%;
  text-align:center;
  float: left;
  min-height:22.5vw;
}

.content h1{
  font-size:1.8vw;
}

.content p{
  font-size:1.1vw;
  line-height:1.5;
  padding:0% 2%;
  text-align:initial;
}

.download{
  background-color:#4281f5;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.2vw;
  margin: 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-left:20vw;
}

.download:hover{
  background-color:white;
  color:#4281f5;
}

.video{
  background-color:#e8fff4;
  width:40vw;
  height:22.5vw;
  margin-left:5%;
  text-align:center;
  float: left;
}

.links{
  background-color:#e8fff4;
  width:45VW;
  height:40vh;
  margin-top:10VH;
  margin-left:5VW;
  text-align:center;
  float: left;
}

.links h2{
  font-size:1.6vw;
}

.links a{
  font-size:1.2vw;
  color:#4281f5;
  display:block;
  margin-top:5px;
}
