body{
  background-color: #bbfadc;
  font-family:Noto Sans JP;
}

.header{
}

.header h2{
  padding-left:10px;
  font-size:1vw;
  color:#053480;
}

a {
    text-decoration: none !important;
}

.main{
  margin-top:20px;
  float:left;
}

.content{
  background-color:#e8fff4;
  width:45%;
  padding:5px;
  margin-left:5%;
  text-align:center;
  display: inline-block;
}

.content h1{
  font-size:1.8vw;
}

.content p{
  font-size:1.1vw;
  line-height:1.4;
  padding:0% 2%;
}

.download{
  background-color:#4281f5;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2vw;
  margin: 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.download:hover{
  background-color:white;
  color:#4281f5;
}

.video{
  background-color:#e8fff4;
  width:40vw;
  height:auto;
  min-height:40vh;
  margin-left:5%;
  text-align:center;
  display: inline-block;
}

.links{
  background-color:#e8fff4;
  width:80vw;
  height:20vh;
  margin-left:10%;
  text-align:center;
  display: inline-block;
}
