body{
  background-color: #bbfadc;
}

.stage-container{
  width:90%;
  margin-left:5%;
  margin-right:5%;
  height:100%;
}

#stage{
  height:auto;
  width:25%;
  background-color:white;
  text-align:center;
  border-radius:20px;
  margin:10px 5px;
} 
